<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Plant-o-choco</title>

     {% load static %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %} />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href={% static "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" %} />
  <link rel="stylesheet" href={% static "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" %} />


  <!-- fonts style -->
  <link href={% static "https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" %} rel="stylesheet" />

  <!-- slick slider -->

  <link rel="stylesheet" href={% static "css/slick-theme.css" %} />
  <!-- font awesome style -->
  <link href={% static "css/font-awesome.min.css" %} rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href={% static "css/style.css" %} rel="stylesheet" />
  <!-- responsive style -->
  <link href={% static "css/responsive.css" %} rel="stylesheet" />


</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              Plant-o-choco
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href={% url 'My index' %}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href={% url 'About' %}> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'Chocolate' %}>Chocolates</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'Testimonial' %}>Testimonial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'Contact' %}>Contact Us</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Us
                </h2>
              </div>
              <p>



                Plant-o-choco is a plant based chocolate company, here in the heart of Nairobi. It was founded 10 years ago.
                   We are catered towards every sweet tooth who can not consume dairy for one reason or another. We provide an alternative to dairy chocolate while still maintaining flavour and pleasure!
                   We have a variety of chocolate flavours made using almond, coconut and soy milk. <br>
                  We also work with local cocoa farmers as a way to empower the local community and Kenya's economy in general! </p>
                <img src="{% static 'images/chocolate10.jpg' %}" alt="">

                
              <a href="#">
                <span>
                  Read More
                </span>

              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="index.html">
                  Home
                </a>
                <a href="about.html">
                  About
                </a>
                <a href="chocolate.html">
                  Chocolates
                </a>
                <a href="testimonial.html">
                  Testimonial
                </a>
                <a href="contact.html">
                  Contact us
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_insta">
              <h4>
                Instagram
              </h4>
              <div class="insta_box">
                <div class="img-box">


                </div>

                <p>
                  Follow us on instagram and take part in our giveaways
                </p>
              </div>
                <h4>Blog</h4>
              <div class="insta_box">
                <div class="img-box">


                </div>

                <p>
                  Subscribe to our blog and support our farmers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Company
              </h4>
              <p class="mb-0">
                Plant-o-choco is a plant based chocolate company catered towards every sweet tooth who can't consume dairy.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h4>
              Contact Us
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                   Factory located along Jogoo Road.
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call 0723 456 765
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  plantochoco@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">PLANT-O-CHOCO COMPANY LTD</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static "js/jquery-3.4.1.min.js" %}></script>
  <!-- bootstrap js -->
  <script src={% static "js/bootstrap.js" %}></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src={% static "" %}js/custom.js"></script>

</body>

</html>