<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PLANT-O-CHOCO</title>

{% load static %}
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %} />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href= "{% static "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" %}" />
  <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href={% static "css/slick-theme.css" %} />
  <!-- font awesome style -->
  <link href={% static "css/font-awesome.min.css" %} rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href={% static "css/style.css" %} rel="stylesheet" />
  <!-- responsive style -->
  <link href={% static "css/responsive.css" %} rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/testimonial.css" %}">


</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              PLANT-O-CHOCO
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href={% url 'My index' %}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'About' %}> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'Chocolate' %}>Chocolate</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href={% url 'Testimonial' %}>Testimonial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'Contact' %}>Contact Us</a>
                </li>
              </ul>

            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>


    <!-- client section -->

    <h2>TESTIMONIALS</h2>
    <p>If you don't trust us, hear personal testimonies from our farmers and loyal customers!</p>

    <img src="{% static "images/cocoafarmer3.jpg" %}" alt="">   <p>This is Lilly Wesonga. <br> She's a local cocoa farmer based in Kakamega county.
      <br> Western parts of Kenya provide the perfect environmental conditions required for the growth of cocoa.</p>
    <p>"Not only has Plant-o-choco supported me financially via farm inputs,<br>
        they have also deployed an extension officer to make sure my plants were up to standard. For that I am forever grateful"</p>


      <br><br>

      <img src="{% static "images/cocoafarmer1.jpg" %}" alt="">
      <p>This is James Omanga. <br> He is an extension officer working for the company. He is a certified agricultural officer and has been in the industry for ten years now</p>
        <p>"It's been a delight working with these local farmers; improving their farming techniques for a better output. Plant-o-choco has greatly invested in the local farming community. This is how you build a sustainable business."</p>

      <br><br>

      <img src="{% static "images/cocoabuyrer2.jpg" %}" alt="">

      <p>This is May Wanjiku. <br>
          She's been a customer since the beginning. She has a dairy allergy that doesn't allow her to consume any dairy.
          <br> She wrote to us via email. <br> <br>
      "Your almond based chocolates are my absolute fave. Especially on those bad days. It's a dairy alternative that actually tastes good. I love it!"</p>

    <!-- end client section -->

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="index.html">
                  Home
                </a>
                <a href="about.html">
                  About
                </a>
                <a href="chocolate.html">
                  Chocolates
                </a>
                <a href="testimonial.html">
                  Testimonial
                </a>
                <a href="contact.html">
                  Contact us
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_insta">
              <h4>
                Instagram
              </h4>
              <div class="insta_box">
                <div class="img-box">
                  <img src={% static "images/instagramlogo.jpg" %} alt="">
                </div>
                <p>
                  Follow us on instagram and take part in our giveaways
                </p>
              </div>
                <h4>Choco-blog</h4>
              <div class="insta_box">
                <div class="img-box">
                  <img src={% static "images/bloglogo.png" %} alt="">
                </div>
                <p>
                  Follow our blog and support our farmers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Company
              </h4>
              <p class="mb-0">
                A plant based chocolate brand catered towards every sweet tooth who can't consume dairy.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h4>
              Contact Us
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location - Factory located along Jogoo road
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call 0723 456 765
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  plantochoco@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">PLANT-O-CHOCO COMPANY LIMITED.</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  {% load static %}
  <script src={% static "js/jquery-3.4.1.min.js" %}></script>
  <!-- bootstrap js -->
  <script src={% static "js/bootstrap.js" %}></script>
  <!-- slick slider -->
  <script src={% static "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js" %}></script>
  <!-- custom js -->
  <script src={% static "js/custom.js" %}></script>
  <!-- Google Map -->

</body>

</html>